@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
/* font-family: 'Poppins', sans-serif; */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}
ul li{
    list-style-type: none;
}
.header{
    background-color: #EAAD00;
    position: fixed;
    width: 100%;
}
.header-section{
    
}
.header .contianer{
    width: 1200px;
    margin: 0 auto;
    padding: 15px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-manu .manu{
    display: flex;
    align-items: center;
}
.header-manu .manu a{
    padding: 14px 24px;
    display: inline-block;
    font-family: 'Poppins', sans-serif;
    font-size: 29px;
    color: #ffffff;
}
.Search-field{
    width: 270px;
    height: 50px;
    border: none;
    background-color: #FFC400;
    padding-left: 14px;
    font-size: 24px;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
}
.Search-field::placeholder{
    font-size: 20px;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
}
.search-box{
    height: 50px;
    width: 70px;
    background-color: #00BFCB;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.imput-item{
    position: relative;
}
.f-icon{
    font-size: 24px;
    color: #ffffff;
}
.second-section{
    background-color: #FFC400;
}
.second-contianer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 200px 0 200px;
    
}
.second-text{
    font-family: 'Poppins', sans-serif;

}
.baton-fist{
    padding: 10px 10px;
    color: #ffffff;
    background-color: blue;
    border-color: #ffffff;
    border-radius: 5px;
}
.baton-fist:hover{
    background-color: #EAAD00;
    color:black
}
.baton-second{
    padding: 10px 10px;
    color: #000000;
    border-color: #ffffff;
    border-radius: 5px;
}
.baton-second:hover{
    background-color: #EAAD00;
    color:black
}
.second-contianer .second-text h1{
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    font-size: 45px;
    font-weight: 500;
    letter-spacing: 2px;
}
.second-contianer .second-text p{
    color:#ffffff;
    padding: 20px 0;
}
.baton{
    padding-top: 20px;
}
.baton .baton-fist{
    padding-right: 30px;
}
.second-contianer .image-section img{
    height: 700px;
    padding: 100px 0;
}

.third-contianer{
    display: flex;
    justify-content: space-between;
    padding: 100px 200px;
    background-color: #FFFFFF;
}
.third-text{
    padding: 100px 0;
}
.third-text h2{
    padding-bottom: 20px;
    color: #2D2E42; 
    font-size: 45px;
}
.third-text p{
    padding-bottom: 20px;
    color: #2D2E42;
}
.third-button button{
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #FFC400;
}
.four-contianer {
    background-color: #FFC400;
    padding: 50px 0;
}
.four-contianer .four-section-text{
    text-align: center;
    
}
.four-contianer .four-section-text h2{
    font-size: 66px;
    color:#FFFFFF
}
.four-contianer .four-section-text p{
    color:#FFFFFF;
    font-size: 25px;
}
.four-section-image{
    display: flex;
    padding-top: 50px;
}
.four-section-image .four-section-I-image{
    margin: 0 30px 10px 150px;
    text-align: center;
}
.four-section-image .four-section-I-image h2{
    padding: 30px 0 10px 0;
    color:#FFFFFF;
    font-size: 35px;
}
.four-section-image .four-section-I-image p{
    color: #FFFFFF;
}
.four-section-image .four-section-II-image{
    margin: 0 30px 10px 30px;
    text-align: center;
}
.four-section-image .four-section-III-image{
    margin: 0 150px 10px 30px;
    text-align: center;
}
.four-section-image .four-section-II-image h2{
    padding: 30px 0 10px 0;
    color:#FFFFFF;
    font-size: 35px;
}
.four-section-image .four-section-II-image p{
    color: #FFFFFF;
}
.four-section-image .four-section-III-image h2{
    padding: 30px 0 10px 0;
    color:#FFFFFF;
    font-size: 35px;
}
.four-section-image .four-section-III-image p{
    color: #FFFFFF;
}

/* five section */
.five-contianer{
    display: flex;
    justify-content: space-between;
    padding: 100px 200px;
    background-color: #FFFFFF;
}
.five-text{
    padding: 100px 0;
    text-align: right;
}
.five-text h2{
    padding-bottom: 20px;
    color: #2D2E42; 
    font-size: 45px;
    
}
.five-text p{
    padding-bottom: 20px;
    color: #2D2E42;
}
.five-button button{
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #FFC400;
}
/* six section  */
.six-contianer {
    background-color: #FFC400;
    padding: 50px 0;
}
.six-contianer .six-section-text{
    text-align: center;
    
}
.six-contianer .six-section-text h2{
    font-size: 66px;
    color:#FFFFFF
}
.six-contianer .six-section-text p{
    color:#FFFFFF;
    font-size: 25px;
}
.six-section-image{
    display: flex;
    padding-top: 50px;
}
.six-section-image .six-section-I-image{
    margin: 0 30px 10px 150px;
    text-align: center;
}

.six-section-image .six-section-II-image{
    margin: 0 30px 10px 30px;
    text-align: center;
}
.six-section-image .six-section-III-image{
    margin: 0 150px 10px 30px;
    text-align: center;
}
.six-section-image .six-section-I-image p{
    color: #FFFFFF;
    padding: 30px 0;
    font-size: 30px;
}
.six-section-image .six-section-II-image p{
    color: #FFFFFF;
    padding: 30px 0;
    font-size: 30px;
}

.six-section-image .six-section-III-image p{
    color: #FFFFFF;
    padding: 30px 0;
    font-size: 30px;
}
.six-section-I-image .sixI-button .six-section-frist-button{
    padding: 10px 35px;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    background-color: #00BFCB;
    font-weight: bold;
}
.six-section-II-image .sixII-button .six-section-second-button{
    padding: 10px 35px;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    background-color: #00BFCB;
    font-weight: bold;
}
.six-section-III-image .sixIII-button .six-section-third-button{
    padding: 10px 35px;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    background-color: #00BFCB;
    font-weight: bold;
}

.seven-contianer {
    padding: 50px 0;
}
.seven-contianer .seven-section-text{
    text-align: center;
    
}
.seven-contianer .seven-section-text h2{
    font-size: 66px;
}
.seven-contianer .seven-section-text p{
    font-size: 25px;
}
.seven-section-image{
    display: flex;
    padding-top: 50px;
}
.seven-section-image .seven-section-I-image{
    margin: 0 30px 10px 150px;
    text-align: center;
}

.seven-section-image .seven-section-II-image{
    margin: 0 30px 10px 30px;
    text-align: center;
}
.seven-section-image .seven-section-III-image{
    margin: 0 150px 10px 30px;
    text-align: center;
}
.seven-section-image .seven-section-I-image h2{
    margin: 10px 0;
}
.seven-section-image .seven-section-II-image h2{
    margin: 10px 0;
}

.seven-section-image .seven-section-III-image h2{
    margin: 10px 0;
    
}
.seven-section-image .seven-section-I-image p{
    margin-top: 10px;
}
.seven-section-image .seven-section-II-image p{
    margin-top: 10px;
}

.seven-section-image .seven-section-III-image p{
    margin-top: 10px;
    
}
.eight-f-icon{
    color: #FFC400;
}
.eight-contianer{
    background-image: url("bacground image.png");
    display: flex;
    justify-content: space-between;
}
.eight-contianer{
    padding: 100px 0;
}
.eight-contianer p {
    font-size: 30px;
    color: #FFFFFF;
}
.eight-contianer .fa-solid{
    font-size: 50px;
    color: #FFFFFF;
    padding: 50px 0;
    text-align: center;
}
.eight-section-frist-div{
    padding-left: 200px;
    text-align: center;
}
.eight-section-thrid-div{
    padding-right: 200px;
    text-align: center;
}
.eight-section-second-div{
    text-align: center;
}
.eight-second-para-fdiv{
    padding-top: 10px;
}
.eight-second-para-sdiv{
    padding-top: 10px;
}
.eight-second-para-Tdiv{
    padding-top: 10px;
}

/* nine section */
.nine-contianer{
    padding: 70px 20px;
}
.nine-contianer .n-frist{
    text-align: center;
    padding-bottom: 30px;
}
.nine-contianer .n-frist h2{
    font-size: 65px;
    padding-bottom: 10px;
}
.nine-contianer .n-frist p{
    font-size: 25px;
}

.nine-contianer .n-second{
    display: flex;
}
.n-second .nine-frist-div{
    padding: 0 20px 0 70px;
}
.n-second .nine-frist-div h2{
    padding: 20px 0 5px 0;
}
.n-second .nine-frist-div .date{
    padding-bottom: 10px;
    color: blue;
}
.n-second .nine-frist-div .para{
    padding-bottom: 20px;
}
.n-second .nine-second-div{
    padding: 0 20px 0 20px;
}
.n-second .nine-second-div h2{
    padding: 20px 0 5px 0;
}
.n-second .nine-second-div .date{
    padding-bottom: 10px;
    color: blue;
}
.n-second .nine-second-div .para{
    padding-bottom: 20px;
}
.n-second .nine-thrid-div{
    padding: 0 70px 0 20px;
}
.n-second .nine-thrid-div h2{
    padding: 20px 0 5px 0;
}
.n-second .nine-thrid-div .date{
    padding-bottom: 10px;
    color: blue;
}
.n-second .nine-thrid-div .para{
    padding-bottom: 20px;
}
.n-second{
    padding-left: 70px;
}

.last-contianer{
    display: flex;
    justify-content: space-between;
    background-color: #616161;
    padding: 50px 30px;
}
.last-contianer .last-list{
    padding-left: 50px;
}
.last-contianer .last-list strong{
    font-size: 30px;
}
.last-contianer .last-list li{
    font-size: 20px;
    color: #FFFFFF;
}